<h3>Search by Gender:</h3>

<%= form_tag('/profiles/search_results', method: :get, class: "search-form") %>
  <fieldset>
    <%= label_tag("search[gender]", "Gender", for: "search[gender]") %>
    <%= select_tag("search[gender]", gender_options, class: "form-control") %>
  </fieldset>
  
  <%= submit_tag("Search", class: "btn btn-info mt-10") %>