<h3>Search by Gender:</h3>
<%= form_tag('/profiles/search_results', method: :get, class: "search-form") %>
 
  <fieldset>
    <%= label_tag(:filter_gender, "Gender") %>
    <%= select_tag("search[gender]", options_for_select(
        [
          ['Male', 0],
          ['Female', 1],
          ['Transgender', 2]
        ]
      ), class: "form-control"
    ) %>
  </fieldset>
  
  <%= submit_tag("Search", class: "btn btn-info mt-10") %>