<nav class="navbar navbar-default">
  <ul class="nav navbar-nav primary-nav">
    <li>
      <a href="/">Home</a>
    </li>
    
    <li>
      <a href="/profiles/search">Search Profiles</a>
    </li>
    
    <li>
      <%= link_to "Inbox", messages_path %>
    </li>

  </ul>
</nav>
