/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
  height: 100%;
  font-family: 'Lato', sans-serif;
}

.wrapper {
  position: relative;
  height: auto !important;
  min-height: 100%;
  background-size: cover;
}

.navbar {
  margin-bottom: 0;
}

.content {
  padding-bottom: 40px;
}

h1, h2, h3, h4, h5, h6 {
  color: #1b75bc;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

label {
  margin-top: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

footer.primary {
  background-color: #333;
  color: #fff;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 40px;
  line-height: 40px;
}