header.primary {
  background-color: #333;
  color: #fff;
  height: 100px;
  line-height: 100px;
  
  ul {
    li {
      display: inline-block;
      
      a {
        color: #fff;
      }
    }
  }
}



