header.primary {
  $header_height: 60px;
  
  background-color: #1b75bc;
  color: #fff;
  height: $header_height;
  line-height: $header_height;
  
  img {
    height: $header_height;
  }
  
  ul {
    li {
      display: inline-block;
      
      a {
        color: #fff;
      }
    }
  }
}



