.home-signup {

  h2 {
    text-align: center;
  }
}

#home-background {
  background-image: image-url('dating.jpg');
}

#search-background {
  background-image: image-url('dating-2.jpg');
}

#profile-background {
  background-image: image-url('dating-3.jpg');
}