<!DOCTYPE html>
<html>
<head>
  <title>Wegotsingles</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>
		<i id="main-logo">We Got Singles</i>
	</header>

	<main>
	  <div class="container">
  		<%= yield %>
    </div>
	</main>

  <footer>
    &#169; 2016 We Got Coders
  </footer>
   
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>

