<!DOCTYPE html>
<html>
<head>
  <title>Wegotsingles</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>
		<i id="main-logo">We Got Singles</i>
	</header>

	<main>
		<%= yield %>
	</main>

  <footer>
    &#169; 2015 We Got Coders
  </footer>

</body>
</html>
